In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [3]:
conda install tensorflow

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
# import tensorflow.keras
from tensorflow.keras.models import model_from_json

In [5]:
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
model = model_from_json(loaded_model_json)
model.load_weights("model.h5")

In [60]:
# load the scaler
from pickle import load
scaler = load(open('scaler.pkl', 'rb'))

In [9]:
import json, requests

In [67]:
# from json import requests
url = "http://magic-stocks.herokuapp.com/api/v1/metrics/amzn"
response = requests.get(url).json()
df = pd.DataFrame(response)

In [68]:
df.head()

,adj_close,close,date,direction,dividend,high,id,low,next_close,open_amt,roc,rsi,slowd,slowk,sma,split,std,ticker,volume,willr
0,117.26,117.26,2010-07-09,1,0.0,117.40,1,114.6500,119.51,116.55,-6.8108,47.4477,73.9080,94.3198,115.5984,1.0,7.60445,AMZN,4065100,-47.6013
1,119.51,119.51,2010-07-12,1,0.0,119.70,12,117.3200,123.65,117.81,-2.4806,51.1105,87.9041,94.6899,115.3812,1.0,7.23980,AMZN,4783600,-29.7607
2,123.65,123.65,2010-07-13,-1,0.0,124.88,23,120.3000,123.30,120.69,1.0981,57.0432,94.9583,95.8653,115.4771,1.0,7.46150,AMZN,7091100,-6.5183
3,123.30,123.30,2010-07-14,-1,0.0,123.75,34,121.4749,122.06,123.03,1.5233,56.4198,94.1235,91.8154,115.6093,1.0,7.72890,AMZN,5257000,-8.3731
4,122.06,122.06,2010-07-15,-1,0.0,122.48,45,119.2600,118.49,120.13,3.1522,54.1617,90.2998,83.2187,115.8757,1.0,8.06685,AMZN,6047700,-14.9444

In [69]:
new_dataset=pd.DataFrame(index=range(0,len(df)),columns=['date','close'])
for i in range(0,len(df)):
    new_dataset["date"][i]=df['date'][i]
    new_dataset["close"][i]=df["close"][i]

In [70]:
df = df['close']

In [71]:
# df = scaler.transform(df)

In [72]:
X = []
X.append(df.values[-61:-1])

In [73]:
np.shape(X)

(1, 60)

In [74]:
X=scaler.transform(X)

In [75]:
X = np.array(X)

In [76]:
X = np.reshape(X, (X.shape[0], X.shape[1], 1))

In [77]:
X.shape

(1, 60, 1)

In [78]:
predicted = model(X)

In [79]:
predicted

In [80]:
predicted.numpy()[0][0]

0.890858

In [81]:
predicted_price = scaler.inverse_transform(predicted)

In [82]:
predicted_price

array([[2848.02571397]])

In [83]:
predicted_price[0][0]

2848.025713971257

In [86]:
# from json import requests
url = "http://magic-stocks.herokuapp.com/api/v1/metrics/aapl"
response = requests.get(url).json()
df = pd.DataFrame(response)

In [87]:
df.head()

,adj_close,close,date,direction,dividend,high,id,low,next_close,open_amt,roc,rsi,slowd,slowk,sma,split,std,ticker,volume,willr
0,32.1049,259.620,2010-07-09,-1,0.0,259.90,0,255.16,257.285,256.89,-5.2738,51.7078,66.4258,86.0865,260.5082,1.0,13.48390,AAPL,15475800,-54.1469
1,31.8161,257.285,2010-07-12,-1,0.0,261.85,11,254.86,251.798,258.53,-4.7692,49.4387,76.0207,75.1305,259.5879,1.0,12.90640,AAPL,20102800,-57.0186
2,31.1376,251.798,2010-07-13,1,0.0,256.40,22,246.43,252.727,256.32,-8.0526,44.4971,74.0057,60.8001,258.0127,1.0,11.74970,AAPL,42533000,-72.6701
3,31.2525,252.727,2010-07-14,-1,0.0,255.80,33,249.00,251.450,249.38,-6.7325,45.4905,60.5639,45.7611,256.7096,1.0,10.57085,AAPL,29001700,-68.2380
4,31.0946,251.450,2010-07-15,-1,0.0,256.97,44,247.30,249.900,248.23,-6.5242,44.3163,47.0072,34.4603,255.4561,1.0,9.40085,AAPL,29459500,-69.5235

In [88]:
new_dataset=pd.DataFrame(index=range(0,len(df)),columns=['date','close'])
for i in range(0,len(df)):
    new_dataset["date"][i]=df['date'][i]
    new_dataset["close"][i]=df["close"][i]

In [89]:
df = df['close']

In [90]:
# df = scaler.transform(df)

In [91]:
X = []
X.append(df.values[-61:-1])

In [92]:
np.shape(X)

(1, 60)

In [93]:
X=scaler.transform(X)

In [94]:
X = np.array(X)

In [95]:
X = np.reshape(X, (X.shape[0], X.shape[1], 1))

In [96]:
X.shape

(1, 60, 1)

In [97]:
predicted = model(X)

In [98]:
predicted

In [99]:
predicted.numpy()[0][0]

0.08223367

In [100]:
predicted_price = scaler.inverse_transform(predicted)

In [101]:
predicted_price

array([[368.96951042]])

In [102]:
predicted_price[0][0]

368.9695104241371